* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.box{
    width: 600px;
    height: 485px;
    background-image: url("drum.png");
    background-size: contain;
}


#a{
    margin-top: 300px;
    height:150px;
    width:150px;
    border-radius: 100px;
    background-color: red;
    margin-left: 30px;
    margin-top: 200px;
}

/* #f0be00 */

#b{
    margin-top: 300px;
    height:150px;
    width:150px;
    border-radius: 100px;
    background-color: red;
    margin-left: 144px;
    margin-top: -266px;
}

#c{
    margin-top: 300px;
    height:150px;
    width:150px;
    border-radius: 100px;
    background-color: red;
    margin-left: 305px;
    margin-top: -149px;
}

#d{
    margin-top: 300px;
    height:150px;
    width:150px;
    border-radius: 100px;
    background-color: red;
    margin-left: 419px;
    margin-top: -35px;
}

#e{
    /* /margin-top: 300px;
    height:250px;
    width:250px;
    border-radius: 150px;
    background-color: red; */
    background-image: url("half circle.svg");
    width: 250px;
    height: 250px;
    margin-left: 175px;
    margin-top: -157px; 
}

#f{
    background-image: url("left\ quarter\ circle.svg");
    width: 125px;
    height: 125px;
    margin-left: 31px;
    margin-top: -356px;
}

#g{
    background-image: url("right\ quarter\ circle.svg");
    width: 125px;
    height: 125px;
    margin-left: 443px;
    margin-top: -125px;
}



