* {
    margin: 0px;
    padding: 0px;
}

.scoreboard{
    display: flex;
    border: solid white 10px;
}

.left{
display: flex;
background-color: #003399;
flex-direction: column;
align-items: center;
width:33.3vw;
height:97vh;
}

.left > h1{
    color: white;
    font-size: 50px;
    padding-top: 3vh;
}

.a{
    width:30vh;
    height:10vh;
    background-color: black;
    color:white;
    font-size: 110px;
}

.a1{  
    display:flex;
    justify-content: center;
    color: white;
    font-size: 110px;
}

.b{
    width:50vh;
    height:10vh;
    background-color: black;
    color: white;
}

.b1{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 110px;
}

.left > h2{
    color:white;
    font-size: 30px;
    padding-top: 30vh;
}

.middle{
    display: flex;
    background-color: #003399;
    flex-direction: column;
    align-items: center;
    width:33.3vw;
    height:97vh;
}

.middle > h1{
    color: white;
    font-size: 50px;
    padding-top: 3vh;
}

.periodnum{
    width:20vh;
    height:10vh;
    background-color: black;
    color:white;
}

.periodnum > h1{
    color: white;
    font-size: 110px;
    padding-left: 7.5vh;
}

.periodNumber{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 110px;
}

.reset{
    padding-top:10vh;
}

.right{
    display: flex;
    background-color: #003399;
    flex-direction: column;
    align-items: center;
    width:33.3vw;
    height:97vh;
}

.right > h1{
    color: white;
    font-size: 50px;
    padding-top: 3vh;
}

.c{
    width:30vh;
    height:10vh;
    background-color: black;
    color:white;
}

.c1{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 110px;
}

.right > h2{
    color:white;
    font-size: 30px;
    padding-top: 30vh;
} 

.d{
    width:50vh;
    height:10vh;
    background-color: black;
    color:white;
}

.d1{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 110px;
}




