


 h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}


.movie-container{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.moviesytle{
    border: 1px solid black;
}

.movie{
    height: 43vh;
    width: 30vh;
    margin-top: 1vh;
    background-color: black;
}

.movie img {
    object-fit: cover;
    /* Makes the image fit nicely as a cover */
    width: 100%;
    height: 100%;
  }


