* {
    margin: 0;
    padding: 0;
    background-color: #01031c;
}

#title {
    margin-top: 2vh;
    text-align: center;
    font-size: 2rem;
    color: #f75b50;
}


#description {
    margin-top: 2vh;
    font-size: 1.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#options {
    display: flex;
    margin-top: 3vh;
    justify-content: center;
    flex-direction: column;
    align-items:center;  
}

.main {
    height: 100vh;
    width: 100vw;
}

#bgimg{
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-image: url('../images/abyss loop.gif');
}

.lowerBody{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
}


.option1{
    width:40vw;
    height:5vh;
    font-size: 1.2rem;
    border-color:#f75b50 ;
    border-radius: 0.5vh;
    color: white;
    display: none;
    transition: 1s;
    transform: translateY(30px);
    opacity: 0;
}

.option2{
    margin-top: 2vh;
    width:40vw;
    height:5vh;
    font-size: 1.2rem;
    border-color:#f75b50 ;
    border-radius: 0.5vh;
    color: white;
    display: none;
    transition: 1s;
    transform: translateY(30px);
    opacity: 0;
}



.picture {
    height: 100%;
    width: 100%;
}

