* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.box{
    /* width: 890px;
    height: 500px; */

    width: 1200px;
    height: 600px;
    background-image: url("guitarbackground.jpg");
    background-size: contain;
}

.strings{
    display: flex;
    justify-content: end;
    margin-right: 215px;
}

.string{
    height:600px;
    width:5px;
    background-color: #837b66;
    margin-right: 27px;
}

